<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stus.msg.mapper.StuInfoMapper">
  <insert id="insert">
    INSERT INTO stu_info (info_name, stu_number, the_time, end_time,stu_content,stu_reason,stu_off)
    VALUES (#{infoName},#{stuNumber},#{theTime},#{endTime},#{stuContent},#{stuReason},#{stuOff})
  </insert>

  <update id="edit">
  UPDATE stu_info SET
  info_name = #{infoName},stu_number = #{stuNumber},the_time = #{theTime},end_time = #{endTime},stu_content = #{stuContent},
  stu_reason = #{stuReason},stu_off = #{stuOff}
  WHERE id = #{id}
  </update>


</mapper>
